{% load static %}

<div class="sidebar">
    <div class="menu-section">
        <div class="menu-title">
            <h3>ECG UNPAD</h3>
        </div>
    </div>
    <!-- Section 1 -->
    <div class="menu-section">
        <div class="menu-title">Diagnosis</div>
        <a class='sidebar-link' href="/">
            <div class="menu-item">
                <span class="material-icons">dashboard</span>
                <span>Dashboard</span>
            </div>
        </a>
        <a class="sidebar-link" href="/record">
            <div class="menu-item">
                <span class="material-icons">assignment_ind</span>
                <span>Personal Record</span>
            </div>
        </a>
        <a class="sidebar-link" href="/dashadmin">
            <div class="menu-item">
                <span class="material-icons">admin_panel_settings</span>
                <span>Administrator</span>
            </div>
        </a>
        <a class="sidebar-link" href="/reference">
            <div class="menu-item">
                <span class="material-icons">library_books</span>
                <span>Reference</span>
            </div>
        </a>
    </div>
    <!-- Section 2 -->
    <div class="menu-section">
        <div class="menu-title">More info</div>
        <a class="sidebar-link" href="/about">
            <div class="menu-item">
                <span class="material-icons">info</span>
                <span>About</span>
            </div>
        </a>
        <a class='sidebar-link' href="">
            <div class="menu-item">
                <span class="material-icons">logout</span>
                <span>Log Out</span>
            </div>
        </a>
    </div>
</div>