.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #f8f9fa;
    padding-top: 20px;
    position: fixed;
}
.menu-section {
    margin-bottom: 20px;
}
.menu-title {
    padding: 10px 20px;
    font-weight: bold;
    color: #343a40;
}
.menu-item {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
    color: #495057;
}
.menu-item:hover {
    background-color: #e2e6ea;
}
.menu-item .material-icons {
    margin-right: 15px;
}
.content {
    margin-left: 260px; /* Ensure content does not overlap sidebar */
    padding: 20px;
}
.patient-card, .admin-card {
    width: 100%;
    max-width: 400px; /* Smaller max-width to make the cards slightly smaller */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.patient-photo-container {
    width: 100px;
    height: 100px; /* Reduced size for photo container */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px 10px 10px 20px;
}
.patient-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.patient-info {
    padding-top: 20px;
}

.condition-type {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar-link {
    text-decoration: None;
}

.login-container {
    height: 100vh;
}

.image-section {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    max-width: 90%;
    max-height: 90%;
    border: 1px dashed #ccc;
    text-align: center;
    padding: 10px;
    color: #6c757d;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.d-flex.justify-content-end {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.custom-width {
    width: 150px; /* Ganti dengan lebar yang diinginkan */
}

.custom-container {
    width: 100%;
    margin-left: 0; /* Pastikan tidak ada margin */
    padding-left: 0; /* Hilangkan padding kiri */
    text-align: left; /* Pastikan konten teks di kiri */
}

/* Mengubah warna latar belakang baris saat hover dengan warna biru aktif Bootstrap */
.table-row:hover {
    background-color: #007bff !important; /* Warna biru utama Bootstrap */
    color: white !important; /* Mengubah warna teks menjadi putih agar kontras dengan latar belakang biru */
    cursor: pointer; /* Menampilkan pointer untuk menunjukkan bahwa ini dapat diklik */
}

/* Menambahkan efek transisi halus */
.table-row {
    transition: background-color 0.3s ease, color 0.3s ease; /* Transisi untuk perubahan warna latar belakang dan teks */
}

#searchPatient {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
